<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jianjiaoproduction.youremoticons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jianjiaoproduction.youremoticons.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jianjiaoproduction.youremoticons.SettingActivity" android:label="Your Emoticons -- Setting"/>
        <service
            android:name=".YourEmoticons"
            android:label="@string/your_emoticons"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
        </service>
    </application>

</manifest>
